body {
    margin: 0;
}

.has-same-height .card {
    height: 20em;
    overflow: hidden;
}
  
.card-content h3 {
    text-align: center;
}

.table-profile td,
    th {
    border: none !important;
}

.table-profile td:first-of-type {
    font-weight: bold;
}

.skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
}

.skills-content .progress {
    height: 4px !important;
}

.section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
}