{% extends 'base.html' %}

{% block head %}
<title>Portfolio</title>
{% endblock %}

{% block body %}
<!-- Hero -->
<section class="hero is-primary is-medium is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">Hola! Yo soy
            <h1 class="title is-1">
                Jose Vega
            </h1>
            <h2 class="subtitle is-3">
                Diseñador FullStack
            </h2>
        </div>
    </div>
</section>

<!-- About -->
<section class="section" id="about">
  <!-- Title -->
  <div class="section-heading">
      <h3 class="title is-2">Acerca De Mi</h3>
      <h4 class="subtitle is-5">A passionate full-stack web developer.</h4>
      <div class="container">
          <p>
              Web developer with more than <strong>4 years</strong> of well-rounded experience with a degree in the
              field of <strong>Computer Science</strong>, extensive knowledge of modern Web techniques and love for <strong>Coffee</strong>.
              Looking for an opportunity to work and upgrade, as well as being involved in an organization that
              believes in gaining a competitive edge and giving back to the community.
          </p>
      </div>
  </div>
  <!-- Profile -->
  <div class="columns has-same-height"> 
      <div class="column">
          <div class="card">
              <div class="card-content">
                  <h3 class="title is-4">Jose V.</h3>
                  <div class="content">
                      <table class="table-profile">
                          <tr>
                              <th colspan="1"></th>
                              <th colspan="2"></th>
                          </tr>
                          <tr>
                              <td>Donde <i class="fas fa-home"></i></td>
                              <td>Tegucigalpa</td>
                          </tr>
                          <tr>
                              <td>Correo <i class="far fa-envelope"></i></td>
                              <td>jocvegar@gmail.com</td>
                          </tr>
                      </table>
                  </div>
                  <br>
                  <footer class="card-footer">
                      <a href="https://github.com/jocvegar" class="card-footer-item">
                          <i class="fab fa-github fa-2x"></i>
                      </a>
                      <a href="https://linkedin.com/in/jose-carlos-vega/" class="card-footer-item">
                          <i class="fab fa-linkedin-in fa-2x"></i>
                      </a>
                  </footer>
              </div>
          </div>
      </div>
      <!-- Profile picture -->
      <div class="column">
          <div class="card">
              <div class="card-image">
                  <figure class="image is-square">
                      <img src="{{ url_for('static', filename='images/jose.jpg') }}" 
                        alt="Jose Vega">
                  </figure>
              </div>
          </div>
      </div>
      <!-- Something Extra -->
      <div class="column">
        <div class="card">
          <div class="hero-foot">
            <nav class="tabs is-boxed">
              <div class="container">
                <ul>
                  <li class="tab is-active" onclick="openTab(event,'WebDev')">
                    <a class=>Web Development</a>
                  </li>
                  <li class="tab" onclick="openTab(event,'WebAud')">
                    <a class=>Website Audit</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="container section">
            <div id="WebDev" class="content-tab" >
              <p>
                Overview Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
            <div id="WebAud" class="content-tab" style="display:none">
              <p>
                Details Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="columns">
    <!-- Skills -->
    <div class="column">
      <div class="card">
        <div class="card-content skills-content">
          <h3 class="title is-4">Skills</h3>
          <div class="content">

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Ruby:</strong>
                    <br>
                    <progress class="progress is-primary" value="100" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Ruby on Rails:</strong>
                    <br>
                    <progress class="progress is-primary" value="100" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>HTML5/CSS3:</strong>
                    <br>
                    <progress class="progress is-primary" value="100" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>React.js:</strong>
                    <br>
                    <progress class="progress is-primary" value="70" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Vue.js:</strong>
                    <br>
                    <progress class="progress is-primary" value="65" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Flask:</strong>
                    <br>
                    <progress class="progress is-primary" value="50" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Python:</strong>
                    <br>
                    <progress class="progress is-primary" value="40" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Djando:</strong>
                    <br>
                    <progress class="progress is-primary" value="40" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>

            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>Node.js:</strong>
                    <br>
                    <progress class="progress is-primary" value="35" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<section class="section" id="services">
  <div class="section-heading">
    <h3 class="title is-2">Servicios</h3>
    <h4 class="subtitle is-5">¿Qué Puedo Hacer Para Tí?</h4>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Front End Web Development</h4>
            Hacer páginas o aplicaciones muy atractivas con las últimas herramientas disponibles.
         </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">Back End Web Development</h4>
            Desarollar aplicaciones a la medida de tus necesidades! Recolección de datos e información.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Resume -->
<section class="section" id="resume">
  <div class="section-heading">
    <h3 class="title is-2">Resume</h3>
    <h4 class="subtitle is-5">More about my past</h4>
    <a href="{{ url_for('static', filename='images/Jose_Vega_Software_Engineer.pdf') }}" class="button is-primary is-medium" download>
      <span class="icon">
        <i class="fas fa-file-alt"></i>
      </span>
      <span>Descarga Mi Curriculm</span>
    </a>
  </div>
</section>
<!-- Portfolio -->
<section class="section" id="portfolio">
  <div class="section-heading is-primary">
    <h3 class="title is-2">Ejemplos</h3>
    <h4 class="subtitle is-5">Algunos de mis trabajos</h4>
  </div>
  <article class="panel is-primary">
    <p class="panel-heading">
      Dale click para verlos
    </p>
    <a class="panel-block" href="https//:www.safetyspot.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-rails-plain-wordmark colored"></i>
      </span>
      SafetySpot
    </a>
    <a class="panel-block" href="https://another-vue-weather-app.netlify.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-vuejs-plain-wordmark colored"></i>
      </span>
      Weather App
    </a>
    <a class="panel-block" href="https://upbeat-meitner-732194.netlify.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-react-original-wordmark colored"></i>
      </span>
      Meditation App
    </a>
    <a class="panel-block" href="https://upbeat-meitner-732194.netlify.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-python-plain-wordmark colored"></i>
      </span>
      This Page!
    </a>
    <a class="panel-block" href="https://another-weather-app.herokuapp.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-javascript-plain"></i>
      </span>
      Another Weather App
    </a>
    <a class="panel-block" href="https://bacon-text.herokuapp.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-rails-plain-wordmark colored"></i>
      </span>
      A Text Generator
    </a>
    <a class="panel-block" href="https://flask-question-app.herokuapp.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-python-plain-wordmark colored"></i>
      </span>
      A Question & Answer App
    </a>
    <a class="panel-block" href="https://jose-vega-blog.herokuapp.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-rails-plain-wordmark colored"></i>
      </span>
      A Blog
    </a>
    <a class="panel-block" href="https://jose-vega-resume.herokuapp.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
      </span>
      My Online Resume
    </a>
    <a class="panel-block" href="https://medinota.herokuapp.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-rails-plain-wordmark colored"></i>
      </span>
      A note taking App for doctors
    </a>
    <a class="panel-block" href="https://my-next-idea.herokuapp.com/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-rails-plain-wordmark colored"></i>
      </span>
      A PWA Template
    </a>
    <a class="panel-block" href="https://josevegadev.site/" target="_blank">
      <span class="panel-icon is-size-3">
        <i class="devicon-wordpress-plain-wordmark colored"></i>
      </span>
      A WP Site
    </a>
  </article>
</section>

<script>
  function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("content-tab");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tab");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" is-active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " is-active";
}
</script>

{% endblock %}
