<!-- Navigation bar -->
<nav class="navbar is-primary is-fixed-top">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="portfolioNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>

    <div id="portfolioNavbar" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="#about">
                <span class="icon">
                    <i class="fas fa-user"></i>
                </span>
                <span>Jose V</span>
            </a>
            <a class="navbar-item" href="#services">
                <span class="icon">
                    <i class="fas fa-pen"></i>
                </span>
                <span>¿Qué Hago?</span>
            </a>
            <a class="navbar-item" href="#resume">
                <span class="icon">
                    <i class="fas fa-file-alt"></i>
                </span>
                <span>Resume</span>
            </a>
            <a class="navbar-item" href="#portfolio">
                <span class="icon">
                    <i class="fas fa-th-list"></i>
                </span>
                <span>Portfolio</span>
            </a>
        </div>
    </div>
</nav>
